header{background-color: #333;}
header h2 {
  text-align: center;
  padding: 20px;
  color: #fff;
}
main {width: 1024px;
  margin: 0 auto;
}
footer {text-align: center;padding: 20px; background-color: cadetblue;}